<div class="chat-container">
    <div class="input-area">
        <input type="text" required [(ngModel)]="userMessage" placeholder="{{ 'placeholder' | translate }}"/>
        <button class="enter-button" mat-mini-fab color="primary" [disabled]="userMessage.length <= 0" (click)="sendMessage()">
            <mat-icon>send</mat-icon>
        </button>
    </div>
    <span class="empty-message" *ngIf="emptyMessage">{{ 'blank-question' | translate }}</span>
    <ng-container *ngIf="showLoading">
        <div class="spinner">{{ 'wait' | translate }}...</div>
    </ng-container>
    <ng-container *ngIf="showMsgs">
        <ng-container class="chat-message" *ngFor="let message of messages">
            <p *ngIf="message.role == 'user'" class="chat-prompt" ><b>{{ 'me' | translate }}: </b>{{ message.content }}</p>
            <p *ngIf="message.role == 'assistant'" class="chat-answer"><b>Chatbot: </b>{{ message.content }}</p>
        </ng-container>
    </ng-container>
</div>