<div class="chat-container">
    <div class="input-area">
        <input type="text" required [(ngModel)]="userMessage" placeholder="{{ 'placeholder' | translate }}"/>
        <button class="enter-button" mat-mini-fab color="primary" [disabled]="userMessage.length <= 0" (click)="sendMessage()">
            <mat-icon>send</mat-icon>
        </button>
    </div>
    <span class="empty-message" *ngIf="emptyMessage">{{ 'blank-question' | translate }}</span>
    <ng-container *ngIf="showLoading">
        <div class="spinner"><mat-spinner color="primary"></mat-spinner></div>
    </ng-container>
    <ng-container *ngIf="showMsgs">
        <h3>{{ 'question-title' | translate }}</h3>
        <div class="chat-message" *ngFor="let message of messages">
            <div class="chat-prompt" >{{ message.prompt }}</div>
            <div class="chat-answer">{{ message.answer }}</div>
        </div>    
    </ng-container>
</div>