.chat-container {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
}

.chat-message {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.empty-message {
    display: flex;
    font-style: italic;
    flex-direction: row;
    justify-content: center
}

.chat-prompt {
    font-weight: 400;
    color: green
}

.chat-answer {
    font-weight: 400;
    font-style: italic
}

input {
    font-size: 16px;
    width: 90%;
    border: none;
}

input:focus {
    outline: none;
}

.spinner {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.input-area {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
    margin-top: 20px;
    border-style: solid;
    box-sizing: border-box;
    color-scheme: light;
    border-radius: 10px;
    border-color: darkgray;
    border-width: 1px;
    box-shadow: 0 0 15px rgba(0,0,0,.1);
    padding: 10px;
}

.input-area:focus {
    outline: none;
    outline-color: black;
}

.enter-button {
    margin-top: auto;
}