.container {
    height: 100%; 
    display: grid; 
    grid-template-rows: auto 1fr;
}

.div-body {
    overflow-y: auto;
}

._header {
    top: 0;
}

._header-spacer {
    flex: 1 1 auto;
}

.mat-mdc-menu-item.mdc-list-item {
    justify-content: flex-end;
}

._footer {
    position: fixed; 
    bottom: 0;
    text-align: center;
}

._footer-title {
    margin: 0 auto;
    white-space: normal;
}