<div class="container">
  <mat-toolbar class="_header" color="primary">
    <span>{{ 'title' | translate }}</span>
    <span class="_header-spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>language</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item *ngFor="let lang of languages" (click)="chat.translateMsgs(currentLang, lang.key); onLanguageChange(lang.key)">
        <mat-icon *ngIf="selectedLang == lang.key">check_circle</mat-icon>
        <span>{{ lang.name | translate }}</span>
      </button>
    </mat-menu>
  </mat-toolbar>
  <div class="div-body">
    <app-chat #chat></app-chat>
    <router-outlet></router-outlet>
  </div>
  <mat-toolbar class="_footer" color="primary">
    <span class="_footer-title">&copy; J. Terrazas</span>
  </mat-toolbar>
</div>